
<!DOCTYPE html>
<html>
<head>
	<title>object browser</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/pgrabovets/json-view/dist/jsonview.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pgrabovets/json-view/dist/jsonview.js"></script>
</head>
<body>
  <div class="root"></div>

  <script type="text/javascript">
    var data = {{ data|nmake.jetpack.to_json_sorted }}
    var target = '.root';
    jsonView.format(JSON.stringify(data), target);

  </script>
</body>
</html>
